/*  Hide everything except for the login box on homepage  */
/*                 Made by ralfszeltins2                  */
/*                ralfszeltins22.github.io                */
/*   Set to URLs starting with: https://www.e-klase.lv/   */
.header__bottom-part,
header.header .header__bottom-part .header__bottom-part-level2__navigation_item--active a,
header.header .header__bottom-part .header__bottom-part__navigation_item--active a,
header.header .header__bottom-part .header__bottom-part-level2__navigation_item a,
header.header .header__bottom-part .header__bottom-part__navigation_item a,
header.header .header__bottom-part .header__bottom-part-level2__navigation_item--active::after,
header.header .header__bottom-part .header__bottom-part__navigation_item--active::after,
.header__searchButton,
header.header span,
.articles-container,
.footer,
.layout_index__main,
.image-wrapper,
.article-card-contents,
.badge,
.badge-gallery,
.like-count,
.pe-1,
.like-count svg,
.article-card-contents a,
ul,
li,
li a {
    height: 0px !important;
    background-color: #00000000 !important;
    font-size: 0px !important;
    color: #00000000 !important;
    line-height: 0px !important;
    margin: 0px !important;
    pointer-events: none;
    min-height: 0px !important;
    max-height: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
    border: 0px none #00000000 !important;
    padding: 0px !important;
}

@media (min-width: 768px) {
    header.header {
        height: 7.1rem;
    }
}

.layout_index__aside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .p-md-4 {
    padding: 1rem !important;
  }
}